.page {
  min-height: 100vh;   /* isi penuh layar */
  padding: 100px 20px 60px; /* jarak dari navbar & footer */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
